/*
 * Copyright 2017 The boardgame.io Authors
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

* {
  margin: auto 0;
}

#board-container {
  background-color:#70C1E4;
  display: flex;
  justify-content: center;
  height: 100vh;
}

#board {
  border-collapse: collapse;
  font-family: monospace;
}

#winner {
  margin-top: 25px;
  width: 168px;
  text-align: center;
}

td {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #6d0191;
  margin: 10px;
  border: 3px solid #aaa;
  overflow: hidden;
}

td.inner {
  background-color: #92F1F2;
}
td.outer {
  background-color: #CAB4DA;
  margin: 5px;
}

td.active {
  cursor: pointer;
  background: #eeffe9;
}

td.active:hover {
  background: #eeffff;
}

p {
  font-family: 'Kaushan Script';
  font-size: 48px; 
  margin: 10px;
  height: 10vw;
  overflow: hidden;
}