/*
 * Copyright 2017 The boardgame.io Authors
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

* {
  margin: auto 0;
  font-family: 'Poiret One', cursive;
}

#board-container {
  background-color:#3280a1;
  display: flex;
  justify-content: center;
  height: 100vh;
}

#board {
  border-collapse: collapse;
}

td {
  text-align: center;
  font-weight: bold;
  background-color: #6d0191;
  overflow: hidden;
}

div.board-space {
    font-family: 'Poiret One', cursive;
  color: #5D1E59;
  display: flex;
  flex-direction: column;
  height: 27vh;
  width: 22vw;
}

.inner {
  background-color: #CAB4DA;
}
.outer {
  background-color: #92F1F2;
}

.startlandia .top-text{
    font-family: 'Poiret One', cursive;
    font-size: 42px;
    font-weight: 900;
}

.startlandia .bottom-text{
    font-family: 'Poiret One', cursive;
    font-size: 36px;
    font-weight: 900;
}

.switch .top-text{
    font-family: 'Poiret One', cursive;
    font-size: 42px;
    font-weight: 900;
}

.switch .bottom-text{
    font-size: 60px;
}

.dice .top-text{
    font-family: 'Poiret One', cursive;
    font-size: 42px;
    font-weight: 900;
}

.dice .bottom-text{
    font-family: 'Poiret One', cursive;
    font-size: 60px;
    font-weight: 900;
}

p {
  font-family: 'Poiret One', cursive;
  height: 10vw;
  font-size: 48px;
  overflow: hidden;
}

div.empty p{
  font-size: 48px;
}

div.filled p{
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 5px;
  padding-top: 10px;
}

div.player-area{
  display: flex;
  justify-content: space-evenly;
  align-content: flex-end;
  height: 10vh;
}

div.player-area h1 {
  font-size: 42px;
}

